@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model IEnumerable<VoucherDTO>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white">Voucher List</h1>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
                <a asp-action="Create" class="btn btn-success">+ Add New Voucher</a>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Points</th>
                    <th>Start Date</th>
                    <th>Expiration Date</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Description</td>
                        <td>@item.PointsRequired</td>
                        <td>@item.StartDate?.ToString("dd/MM/yyyy")</td>
                        <td>@item.ExpirationDate?.ToString("dd/MM/yyyy")</td>
                        <td class="text-center">
                            <a asp-action="ViewDetailVoucher" asp-route-voucherId="@item.VoucherId" class="btn btn-sm btn-info">Detail</a>
                            <a asp-action="Edit" asp-route-voucherId="@item.VoucherId" class="btn btn-sm btn-warning mx-1">Edit</a>
                            <a asp-action="Delete" asp-route-voucherId="@item.VoucherId" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

