﻿
@model IEnumerable<UserDTO>
<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="text-white">Events List</h1>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="row pb-3">
			<div class="col-6">
			</div>
			<div class="col-6 text-end">
				<a asp-action="CreateStaff" class="btn btn-outline-primary"><i class="bi bi-plus-square"></i> Create Staff</a>

			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>
						FullName
					</th>
					<th>
						Address
					</th>
					<th>
						Email
					</th>
					<th>
						PhoneNumber
					</th>
					<th>
						IsBan
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@item.FullName
						</td>
						<td>
							@item.Address
						</td>
						<td>
							@item.Email
						</td>
						<td>
							@item.PhoneNumber
						</td>
						<td>
							@item.IsBan
						</td>
						<td>
							<a class="btn btn-success" asp-action="UpdateStaff" asp-route-productId="@item.ID">
								<i class="bi bi-pencil-square"></i>
							</a>
							@{if(@item.IsBan){
									<a  class="btn btn-danger" asp-action="UnBlockStaff" asp-route-staffID="@item.ID">
										<i class="bi bi-unlock"></i>
							</a>
							}else{
									<a  class="btn btn-danger" asp-action="BlockStaff" asp-route-staffID="@item.ID">
								<i class="bi bi-lock"></i>
							</a>
							}
							}
							
							
						</td>
					</tr>
				}
			</tbody>
		</table>

	</div>

</div>