@model CheckoutViewModel

@{
    ViewData["Title"] = "Checkout";
    int total = 0;
}

@if (!Model.CartItems.Any())
{
    <p>Your cart is empty.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Image</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                int price = (int)item.Product.Price;
                int priceDiscount = price - (price * item.Product.Discount.Value / 100);
                var totalPrice = (price - (price * item.Product.Discount.Value / 100)) * item.Quantity;
                total += priceDiscount * item.Quantity;
                <tr>
                    <td>@item.Product.Name</td>
                    <td><img src="@item.Product.ImageUrl" width="50" /></td>
                    <td>@priceDiscount.ToString("C")</td>
                    <td>@item.Quantity</td>
                    <td>@totalPrice.ToString("C")</td>
                    
                </tr>
            }
        </tbody>
    </table>
    <h4>Total: @total.ToString("C")</h4>

    <form id="checkoutform" method="post" asp-controller="Order" asp-action="Index" >
        <br />
        <div class="container border p-3">
            <h1 class="text-dark text-center">Order Product</h1>

            <hr />
            <div class="row">
                <div class="col-2">
                    <label class="control-label pt-2" style="font-size:20px;">Full Name</label>
                </div>
                <div class="col-10 pb-3">
                    <input type="text" asp-for="Order.Name" class="form-control" />
                </div>
                <div class="col-2">
                    <label class="control-label pt-2" style="font-size:20px;">Phone Number</label>
                </div>
                <div class="col-10 pb-3">
                    <input type="text" asp-for="Order.PhoneNumber" class="form-control" />
                </div>
                <div class="col-2">
                    <label class="control-label pt-2" style="font-size:20px;">Email</label>
                </div>
                <div class="col-10 pb-3">
                    <input type="email" asp-for="Order.Email" class="form-control" />
                </div>
                <div class="col-2">
                    <label class="control-label pt-2" style="font-size:20px;">ShippingAddress</label>
                </div>
                <div class="col-10 pb-3">
                    <input type="text" asp-for="Order.ShippingAddress" class="form-control" />
                </div>
                <div class="col-2">
                    <label class="control-label pt-2" style="font-size:20px;">PaymentMethod</label>
                </div>
                <div class="col-10 pb-3">
                    
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="Order.PaymentMethod" value="Thanh toán khi nhận hàng" id="cod" />
                        <label class="form-check-label" for="cod">
                            Thanh toán khi nhận hàng
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="Order.PaymentMethod" value="Thanh toán bằng VNPay" id="vnpay" />
                        <label class="form-check-label" for="vnpay">
                            Thanh toán bằng VNPay
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="Order.PaymentMethod" value="Thanh toán bằng Momo" id="momo" />
                        <label class="form-check-label" for="momo">
                            Thanh toán bằng Momo
                        </label>
                    </div>
                </div>

                <div class="col-2">
                    <label class="control-label pt-2" style="font-size:20px;">Note</label>
                </div>
                <div class="col-10 pb-3">
                    <textarea asp-for="Order.Note" class="form-control" rows="5"></textarea>
                </div>
                <div class="col-5">
                    <input type="submit" value="Order" class="btn btn-success form-control" />

                </div>
            </div>
            <div>
            </div>
        </div>
    </form>

    <div class="col-5 offset-2">
        <a asp-controller="Cart" asp-action="Index" class="btn-primary btn form-control ">Back to cart</a>
    </div>
}




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}