@model CheckoutViewModel

@{
    ViewData["Title"] = "Checkout";
    int total = 0;
}
<div class="page-header breadcrumb-wrap">
    <div class="container">
        <div class="breadcrumb">
            <a href="/Home" rel="nofollow"><i class="fi-rs-home mr-5"></i>Trang chủ</a>
            <span></span> Giỏ hàng
            <span></span> Thanh toán
        </div>
    </div>
</div>
@if (!Model.CartItems.Any())
{
    <div class="container mb-80 mt-50 text-center">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-20">Giỏ hàng của bạn hiện đang trống nên không thể đặt hàng</h2>
                <p class="text-muted mb-30">Có vẻ như bạn chưa thêm bất kỳ sản phẩm nào vào giỏ hàng.</p>
                <a href="/Product" class="btn btn-fill-out"><i class="fi-rs-shopping-bag mr-10"></i>Bắt đầu mua sắm</a>
            </div>
        </div>
    </div>
}
else
{

    <div class="container mb-80 mt-50">
        <div class="row">
            <div class="col-lg-8 mb-40">
                <h1 class="heading-2 mb-10">Thanh toán đơn hàng</h1>
                <div class="d-flex justify-content-between">
                    <h6 class="text-body">Có <span class="text-brand">@Model.CartItems.Count()</span> sản phẩm bạn cần thanh
                        toán</h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <h4 class="mb-30">Thông tin nhận hàng</h4>
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                        <div class="row">
                            <div class="form-group col-lg-12">
                                <input asp-for="Order.Name" class="form-control" type="text" placeholder="Họ và tên*" />
                                <span asp-validation-for="Order.Name" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-lg-12">
                                <input asp-for="Order.Email" class="form-control" type="text" placeholder="Địa chỉ Email *" />
                                <span asp-validation-for="Order.Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-lg-12">
                                <input asp-for="Order.PhoneNumber" class="form-control" type="text" placeholder="Số điện thoại *" />
                                <span asp-validation-for="Order.PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-lg-12">
                                <input asp-for="Order.ShippingAddress" class="form-control" type="text" placeholder="Địa chỉ nhận hàng *" />
                                <span asp-validation-for="Order.ShippingAddress" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group mb-30">
                            <textarea rows="5" asp-for="Order.Note" class="form-control" placeholder="Ghi chú cho đơn hàng"></textarea>
                            <span asp-validation-for="Order.Note" class="text-danger"></span>
                        </div>

                        <div class="payment ml-30">
                            <h4 class="mb-30">Phương thức thanh toán</h4>
                            <div class="payment_option">
                                <div class="custome-radio">
                                    <input class="form-check-input" asp-for="Order.PaymentMethod" value="Thanh toán khi nhận hàng" type="radio" id="exampleRadios3" />
                                    <label class="form-check-label" for="exampleRadios3">Thanh toán khi nhận hàng</label>
                                </div>
                                <div class="custome-radio">
                                    <input class="form-check-input" asp-for="Order.PaymentMethod" value="Chuyển khoản ngân hàng" type="radio" id="exampleRadios4" />
                                    <label class="form-check-label" for="exampleRadios4">Chuyển khoản ngân hàng</label>
                                </div>
                            </div>
                            <span asp-validation-for="Order.PaymentMethod" class="text-danger"></span>

                            <button type="submit" class="btn btn-fill-out btn-block mt-30 float-end">Đặt hàng<i class="fi-rs-sign-out ml-15"></i></button>
                        </div>
                    </form>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="border p-40 cart-totals ml-30 mb-50">
                    <div class="d-flex align-items-end justify-content-between mb-30">
                        <h4>Đơn hàng của bạn</h4>
                        <h6 class="text-muted">Tổng cộng</h6>
                    </div>
                    <div class="divider-2 mb-30"></div>
                    <div class="table-responsive order_table checkout">
                        <table class="table no-border">
                            <tbody>
                                @foreach (var item in Model.CartItems)
                                {
                                    var imageUrl = item.Product.ImageUrl;
                                    var productImg = imageUrl?.Contains("&") == true ? imageUrl.Split('&')[0] : imageUrl;
                                    int price = (int)item.Product.Price;
                                    int priceDiscount = price - (price * item.Product.Discount.Value / 100);
                                    var totalPrice = (price - (price * item.Product.Discount.Value / 100)) *
                                    item.Quantity;
                                    total += priceDiscount * item.Quantity;
                                    <tr>
                                        <td class="image product-thumbnail"><img src="@productImg" alt="#"></td>
                                        <td>
                                            <h6 class="w-160 mb-5"><a href="shop-product-full.html"
                                                    class="text-heading">@item.Product.Name</a></h6>
                                        </td>
                                        <td>
                                            <h6 class="text-muted pl-20 pr-20">x @item.Quantity</h6>
                                        </td>
                                        <td>
                                            <h4 class="text-brand">@totalPrice.ToString("N0", new CultureInfo("vi-VN"))đ
                                            </h4>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}