﻿
@model IEnumerable<TrashEventDTO>
<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="text-white">Trash Event List</h1>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="row pb-3">
			<div class="col-6">
			</div>
			<div class="col-6 text-end">
				<a asp-action="ReportTrashEvent" class="btn btn-outline-primary"><i class="bi bi-plus-square"></i> Report New Event</a>

			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>
						ID
					</th>
					<th>
						Status
					</th>
					<th>
						Description
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@item.TrashReportId
						</td>
						<td>
							@item.Status
						</td>
						<td>
							@item.Description
						</td>
						<td>
							<a class="btn btn-success" asp-action="UpdateTrashEvent" asp-route-trashReportId="@item.TrashReportId">
								Update
							</a>
							<a class="btn btn-danger" asp-action="DeleteTrashEvent" asp-route-trashReportId="@item.TrashReportId">
								Delete
							</a>
							@if (item.Status == "Chờ xác nhận")
							{
								<a class="btn btn-danger" asp-action="ApproveTrashEvent" asp-route-trashReportId="@item.TrashReportId">
									Approve
								</a>
								<a class="btn btn-danger" asp-action="RejectrashEvent" asp-route-trashReportId="@item.TrashReportId">
									Reject
								</a>
							}
							@if(item.Status == "Đã xác nhận")
                            {
                                <a class="btn btn-primary" href="#">
                                    Tạo envent
                                </a>
                            }
						</td>
					</tr>
				}
			</tbody>
		</table>

	</div>

</div>