
@model IEnumerable<EventDTO>
@{
    ViewData["Title"] = "Quản lý sự kiện";
}
<div class="page-content pt-50">
    <div class="container">
        <div class="archive-header-2 text-center">
            <h1 class="display-2 mb-50">Sự kiện bạn là đội trưởng</h1>
            <div class="row">
                <div class="col-lg-5 mx-auto">
                    <div class="sidebar-widget-2 widget_search mb-50">
                        <div class="search-form">
                            <form action="#">
                                <input type="text" placeholder="Tìm kiếm" />
                                <button type="submit"><i class="fi-rs-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row vendor-grid">
            @foreach (var item in Model)
            {
                <div class="col-lg-6 col-md-6 col-12 col-sm-6">
                    <div class="vendor-wrap style-2 mb-40">
                        <div class="product-badges product-badges-position product-badges-mrg">
                            @{
                                var label = item.Status switch
                                {
                                    "Open" => "Đang mở",
                                    "Close" => "Đã đóng",
                                    _ => "Đang diễn ra"
                                };

                                var badgeClass = item.Status switch
                                {
                                    "Open" => "bg-success",
                                    "Close" => "bg-danger",
                                    _ => "bg-warning"
                                };
                            }
                            <span class="badge @badgeClass text-white px-2 py-1 rounded ">@label</span>
                        </div>

                        <div class="vendor-img-action-wrap">
                            <div class="vendor-img">
                                <a href="vendor-details-1.html">
                                    <img class="default-img" src="./imgs/vendor/vendor-1.png" alt="" />
                                </a>
                            </div>

                        </div>
                        <div class="vendor-content-wrap">
                            <div class="mb-30">
                                <h4 class="mb-5">
                                    <a asp-action="GetEventById" asp-route-eventId="@item.CleanEventId">@item.Title</a>
                                </h4>

                                <div class="vendor-info d-flex justify-content-between align-items-end mt-30">
                                    <ul class="contact-infor text-muted">
                                        <li>
                                            <strong>Description:</strong>
                                            <span>
                                                @(item.Description?.Length > 100
                                                    ? item.Description.Substring(0, 100) + "..."
                                                    : item.Description)
                                            </span>
                                        </li>
                                        <li><strong>Max Participants:</strong><span>@item.MaxParticipants</span></li>
                                        <li><strong>Date:</strong><span>@item.StartDate</span></li>
                                    </ul>
                                </div>
                                <div class="d-flex justify-content-start gap-2 mt-2">
                                    <a asp-action="ViewEventVolunteerList"
                                       asp-route-eventId="@item.CleanEventId"
                                       class="btn btn-sm btn-outline-primary">
                                        Tình nguyện viên <i class="fi-rs-arrow-small-right ms-1"></i>
                                    </a>

                                    <a asp-action="ViewEventVolunteerListCheck"
                                       asp-route-eventId="@item.CleanEventId"
                                       class="btn btn-sm btn-outline-success">
                                        Điểm Danh <i class="fi-rs-arrow-small-right ms-1"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>