﻿
@model IEnumerable<EventDTO>
<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="text-white">Events List</h1>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="col-6 text-end">
			<a asp-action="CreateCleanupEvent" class="btn btn-outline-primary"><i class="bi bi-plus-square"></i> Create New Event</a>

		</div>
		<table class="table">
			<thead>
				<tr>
					<th>
						Title
					</th>
					<th>
						Description
					</th>
					<th>
						Status
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@item.Title
						</td>
						<td>
							@item.Description
						</td>
						<td>
							@item.Status
						</td>
						<td>
							<a class="btn btn-success" asp-action="GetEventById" asp-route-eventId="@item.CleanEventId">
								<i class="bi bi-pencil-square"></i>
							</a>
							<a class="btn btn-success" asp-action="ViewEventVolunteerList" asp-route-eventId="@item.CleanEventId">
								<i class="bi bi-pencil-square">Volunteer List</i>
							</a>
							<a class="btn btn-success" asp-action="UpdateCleanupEvent" asp-route-eventId="@item.CleanEventId">
								<i class="bi bi-pencil-square">Update</i>
							</a>
							<a class="btn btn-success" asp-action="UpdateCleanupEventStatus" asp-route-eventId="@item.CleanEventId">
								<i class="bi bi-pencil-square">Update Status</i>
							</a>
							<a class="btn btn-success" asp-action="ViewEventVolunteerListCheck" asp-route-eventId="@item.CleanEventId">
								<i class="bi bi-pencil-square">Attendance</i>
							</a>
							<a class="btn btn-danger" asp-action="CloseCleanupEvent" asp-route-eventId="@item.CleanEventId">
								<i class="bi bi-x">Close Event</i>
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>

	</div>

</div>